.App {
  text-align: center;
}
body {
  background-color: #eee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.showcase {
  background: url("https://images.pexels.com/photos/1928151/pexels-photo-1928151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center/cover;
  height: 600px;
  background-attachment: fixed;
}

.showcase .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  border-radius: 2%;
}

form {
  display: flex;
  justify-content: center;
}
